@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:is(.dark *));

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-sans: "Atkinson", sans-serif;
}