@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-sans: "Atkinson", sans-serif;
  
  --color-accent: #3b82f6;
  --color-accent-dark: #1e40af;
  --color-accent-light: #60a5fa;
}

@layer base {
  html.dark {
    color-scheme: dark;
  }
}
