---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="m-0 px-4 shadow-md">
    <nav class="flex items-center justify-between">
        <h2 class="m-0 text-base">
            <a href="/" class="no-underline text-black dark:text-white hover:text-gray-700 dark:hover:text-gray-300">
                {SITE_TITLE}
            </a>
        </h2>
        <div class="flex gap-4">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/tourosaka">Osaka Info</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="flex">
            <ThemeIcon />
        </div>
    </nav>
</header>